name: Main

on:
  push:
    branches: [ "main" ]
  
env:
  SYNC_STORAGE_PATH: ${{ vars.SYNC_STORAGE_PATH }}
  SYNC_SERVER_PORT: ${{ vars.SYNC_SERVER_PORT }}

jobs:
  build_and_tests:
    name: Test sync
    secrets: inherit
    with:
      go_version: ${{ vars.GO_VERSION }}
    uses: ./.github/workflows/w_tests.yml

  build-artifacts:
    name: Artifacts
    needs: build_and_tests
    uses: ./.github/workflows/w_artifacts.yml
    secrets: inherit
    with:
      os: '["linux"]'
      architectures: '["amd64", "arm64"]'
      go_version: ${{ vars.GO_VERSION }}

  build-docker-images:
    name: Docker image
    needs: build-artifacts
    secrets: inherit
    with:
      os: '["linux"]'
      architectures: '["amd64", "arm64"]' 
    uses: ./.github/workflows/w_docker.yml

