name: Release
# This workflow is triggered when a new tag is published
# `git tag v0.0.1alpha`
# `git push --tags`
# If the tag already exists, use this commanf to delete it `git tag -d v0.0.1alpha`
on:
  push:
    tags:
      - 'v*'

permissions: write-all
env:
  SYNC_STORAGE_PATH: ${{ vars.SYNC_STORAGE_PATH }}
  SYNC_SERVER_PORT: ${{ vars.SYNC_SERVER_PORT }}

jobs:
    build_and_tests:
      name: Test sync
      secrets: inherit
      with:
        go_version: ${{ vars.GO_VERSION }}
      uses: ./.github/workflows/w_tests.yml

    release:
      if: contains(github.ref, 'tags/v')
      runs-on: ubuntu-latest
      needs: build_and_tests
      outputs:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        v_num: ${{ steps.version.outputs.number }}

      steps:
        - uses: actions/checkout@v4
        - name: Get version number
          id: version
          run: echo "number=${{ github.ref_name }}" >>$GITHUB_OUTPUT
        - name: Create Release
          id: create_release
          uses: softprops/action-gh-release@v2
          with:
            tag_name: ${{ github.ref_name }}
            name: ${{ github.ref_name }}
            body_path: CHANGELOG.md
            draft: false
            prerelease: true
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}   
        
    build-artifacts:
      name: Artifacts
      needs: release
      uses: ./.github/workflows/w_artifacts.yml
      secrets: inherit
      with:
        os: '["linux", "windows", "macos"]'
        architectures: '["amd64","arm64"]'
        go_version: ${{ vars.GO_VERSION }}
        release: -${{ needs.release.outputs.v_num }}
        release_url: ${{ needs.release.outputs.upload_url }}

    build-docker-images:
      name: Docker image
      needs: 
        - release
        - build-artifacts
      secrets: inherit
      with:
        os: '["linux"]'
        architectures: '["amd64", "arm64"]' 
        release: -${{ needs.release.outputs.v_num }}
      uses: ./.github/workflows/w_docker.yml
            