name: Workflow Artifacts

on:
  workflow_call:
    inputs:
      os:
        description: Operation system to build artifact for.
        required: true
        type: string 
      architectures:
        description: Architectures to build artifact for.
        required: true
        type: string   
      go_version:
        description: Go version to be used for the build.
        required: true
        type: string 
      release:
        description: Number of released version. Not required.
        required: false
        type: string    
      release_url: 
        description: Release url to upload assets.
        required: false
        type: string   

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        os: ${{ fromJSON(inputs.os) }}
        architecture: ${{ fromJSON(inputs.architectures) }}
    steps:
      - uses: actions/checkout@v3
   
      - name: Build Cross-Platform
        uses: crazy-max/ghaction-xgo@v3
        with:
          xgo_version: latest
          go_version: ${{ inputs.go_version }}
          dest: build
          prefix: sync_server${{ inputs.release }}
          targets: ${{ matrix.os != 'macos' && matrix.os || 'darwin'}}/${{ matrix.architecture }}
          v: true
          x: false
          race: false
          ldflags: -s -w
          buildmode: default
          trimpath: true 

      - name: Rename files
        if: ${{ matrix.os == 'macos' }}
        working-directory: build/
        run: |  
           mv sync_server${{ inputs.release }}-darwin-${{ matrix.architecture }} sync_server${{ inputs.release}}-${{ matrix.os }}-${{ matrix.architecture }}

      - name: Bundle exiftool and ffmpeg for Windows
        if: ${{ matrix.os == 'windows' }}
        working-directory: build
        run: |
          set -e
          # ExifTool Windows 64-bit from SourceForge (exiftool.org redirects may fail in CI)
          curl -sfL -o exiftool.zip "https://downloads.sourceforge.net/project/exiftool/exiftool-13.47_64.zip"
          unzip -o -q exiftool.zip
          EXIF_DIR=$(find . -maxdepth 1 -type d -name 'exiftool*' | head -1)
          cp "$EXIF_DIR/exiftool(-k).exe" exiftool.exe 2>/dev/null || cp "$EXIF_DIR/exiftool.exe" exiftool.exe
          chmod -R u+w "$EXIF_DIR" || true
          rm -rf exiftool.zip "$EXIF_DIR"
          # FFmpeg Windows essentials (BtbN build)
          curl -sfL -o ffmpeg.zip "https://github.com/BtbN/FFmpeg-Builds/releases/download/latest/ffmpeg-master-latest-win64-gpl.zip"
          unzip -o -q ffmpeg.zip
          FFMPEG_DIR=$(find . -maxdepth 1 -type d -name 'ffmpeg*' | head -1)
          cp "$FFMPEG_DIR/bin/ffmpeg.exe" .
          cp "$FFMPEG_DIR/bin/ffprobe.exe" .
          rm -rf ffmpeg.zip "$FFMPEG_DIR"

      - name: Upload SyncServer artifacts
        uses: actions/upload-artifact@v4
        with:
          name: sync_server${{ inputs.release}}-${{ matrix.os }}-${{ matrix.architecture }}
          path: build

      - name: Prepare release asset (single binary to avoid duplicate names)
        if: ${{ inputs.release_url != '' }}
        run: |
          mkdir -p release-asset
          cp build/sync_server* release-asset/

      - name: Upload Release Asset
        if: ${{ inputs.release_url != '' }}
        uses: glentiki/xbin-release-action@v1.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ inputs.release_url }}
          assets_path: ./release-asset
