name: Workflow Docker Image

on:
  workflow_call:
    inputs:
      os:
        description: Operation system to build docker image for.
        required: true
        type: string 
      architectures:
        description: Architectures to build docker image for.
        required: true
        type: string    
      release:
        description: Number of released version. Not required.
        required: false
        type: string 

env:
  REGISTRY_IMAGE: takecontrolorg/sync_server

jobs:
  build_linux_amd64:
    runs-on: ubuntu-latest
    outputs:
      digest: ${{ steps.export_digest.outputs.digest }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY_IMAGE }}
          tags: |
              type=ref,event=branch
              type=ref,event=tag
              type=ref,event=pr
      - name: Prepare bake file
        run: |
          mv "${{ steps.meta.outputs.bake-file }}" /tmp/bake-meta.json
      - name: Download binary
        uses: actions/download-artifact@v4
        with:
          name: sync_server${{ inputs.release }}-linux-amd64
          path: bin/
      - name: Rename sync_server
        working-directory: bin/
        run: mv sync_server${{ inputs.release }}-linux-amd64 sync_server
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build
        id: bake
        uses: docker/bake-action@v5
        with:
          files: |
            ./docker-bake.hcl
            /tmp/bake-meta.json
          targets: sync_server_linux
          set: |
            *.tags=
            *.platform=linux/amd64
            *.output=type=image,"name=${{ env.REGISTRY_IMAGE }}",push-by-digest=true,name-canonical=true,push=true
      - name: Export digest
        id: export_digest
        run: |
          digest="${{ fromJSON(steps.bake.outputs.metadata)['sync_server_linux']['containerimage.digest'] }}"
          echo "digest=${digest#sha256:}" >> $GITHUB_OUTPUT

  build_linux_arm64:
    runs-on: ubuntu-latest
    outputs:
      digest: ${{ steps.export_digest.outputs.digest }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY_IMAGE }}
          tags: |
              type=ref,event=branch
              type=ref,event=tag
              type=ref,event=pr
      - name: Prepare bake file
        run: |
          mv "${{ steps.meta.outputs.bake-file }}" /tmp/bake-meta.json
      - name: Download binary
        uses: actions/download-artifact@v4
        with:
          name: sync_server${{ inputs.release }}-linux-arm64
          path: bin/
      - name: Rename sync_server
        working-directory: bin/
        run: mv sync_server${{ inputs.release }}-linux-arm64 sync_server
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build
        id: bake
        uses: docker/bake-action@v5
        with:
          files: |
            ./docker-bake.hcl
            /tmp/bake-meta.json
          targets: sync_server_linux
          set: |
            *.tags=
            *.platform=linux/arm64
            *.output=type=image,"name=${{ env.REGISTRY_IMAGE }}",push-by-digest=true,name-canonical=true,push=true
      - name: Export digest
        id: export_digest
        run: |
          digest="${{ fromJSON(steps.bake.outputs.metadata)['sync_server_linux']['containerimage.digest'] }}"
          echo "digest=${digest#sha256:}" >> $GITHUB_OUTPUT

  merge-tags:
    runs-on: ubuntu-latest
    needs: [build_linux_amd64, build_linux_arm64]
    steps:
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY_IMAGE }}
          tags: |
              type=ref,event=branch
              type=ref,event=tag
              type=ref,event=pr
      - name: Prepare bake file
        run: cp "${{ steps.meta.outputs.bake-file }}" /tmp/bake-meta.json
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Create manifest list and push
        run: |
          docker buildx imagetools create $(jq -cr '.target."docker-metadata-action".tags | map(select(startswith("${{ env.REGISTRY_IMAGE }}"))) | map("-t " + .) | join(" ")' /tmp/bake-meta.json) \
            ${{ env.REGISTRY_IMAGE }}@sha256:${{ needs.build_linux_amd64.outputs.digest }} \
            ${{ env.REGISTRY_IMAGE }}@sha256:${{ needs.build_linux_arm64.outputs.digest }}
      - name: Inspect image
        run: |
          docker buildx imagetools inspect ${{ env.REGISTRY_IMAGE }}:$(jq -r '.target."docker-metadata-action".args.DOCKER_META_VERSION' /tmp/bake-meta.json)
