name: Workflow Windows Tests

on:
  workflow_call:
    inputs:
      go_version:
        description: Go version to be used for the build.
        required: true
        type: string   
env:
  SYNC_STORAGE_PATH: ${{ vars.SYNC_STORAGE_PATH }}
  SYNC_SERVER_PORT: ${{ vars.SYNC_SERVER_PORT }}

jobs:
  build_and_tests_windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: ${{ inputs.go_version }}
    
    - name: Setup FFmpeg
      uses: AnimMouse/setup-ffmpeg@v1

    - name: Set Up Exiftool
      shell: powershell
      run: |
          New-Item -Path "c:\" -Name "exiftool" -ItemType "directory" -Force
          $dest = "c:\exiftool\exiftool-13.47_64.zip"
          $url = "https://downloads.sourceforge.net/project/exiftool/exiftool-13.47_64.zip"
          curl.exe -sfL -o $dest $url
          Expand-Archive -Path $dest -DestinationPath "c:\exiftool" -Force
          Rename-Item -path "c:\exiftool\exiftool-13.47_64" -NewName "bin"
          Rename-Item -Path "c:\exiftool\bin\exiftool(-k).exe" -NewName "exiftool.exe"
          Remove-Item $dest
          $env:PATH = "c:\exiftool\bin;" + $env:PATH
        #Environment]::SetEnvironmentVariable("Path", $env:Path + ";C:\exiftool\bin", "Machine")

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./... 
